body {
  background-color: #cccccc;
}
img {
  max-width: none;
}
ol {
  padding-left: 25px;
  font-size: 14px;
  color: black;
}
ol a,
ol a:visited {
  color: black;
}
embed {
  display: block;
  margin: auto;
  margin-top: 25px;
}
h1 {
  font-size: 18px;
}
footer {
  margin-top: 10px;
  text-align: center;
}
